body {
  font-family: Tahoma;
  font-size: 11pt;
  line-height: 1.2em;
  margin: 0px;
  padding: 12px;
}

h1 {
  background-color: navy;
  color: white;
  padding: 16px;
  margin: -12px;
  margin-bottom: 20px;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

caption {
  border: 1px solid gray;
  padding: 8px 12px;
  font-weight: bold;
}

th,
td {
  border: 1px solid gray;
  padding: 8px 12px;
}

tfoot td {
  font-weight: bold;
  background-color: #eeeeee;
}

form {
  border: 1px solid gray;
  background-color: #eeeeee;
  padding: 12px;
}

table {
  float: left;
  width: 60%;
}

form {
  float: right;
  width: 30%;
}

label {
  display: block;
  float: left;
  clear: both;
  width: 40%;
}

input {
  display: block;
  float: right;
  width: 50%;
}

input[type="button"] {
  font-weight: bold;
  padding: 8px;
}
